@import "tailwindcss";

.filter-btn {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-in-out
}

.footer .footer-name {
    font-family: Dancing Script,cursive;
    font-style: italic;
    color: #e6006d;
    font-size: 18px;
    font-weight: 600;
}